@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;

}
i{
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 25px;
    padding-right: 40px;

}
.col-1{
    display: flex;
    align-items: center;

}
.logo{
    display: flex;
    align-items: center;
}
.logo-img{
    margin-left: 5px;
    position: relative;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
}
.logo-img h3{
    color: #fff;
    margin-left: 8px;
    font-size: 23px;
}
.col-1 img{
    height: 85%;
    
}
.col-2{
    display: flex;
    align-items: center;
    flex-basis: 40%;
    margin-left: 40px;
}
.col-2 form{
    position: relative;
    width: 100%;
}
.col-2 input{
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: black;
    border : 1px solid rgba(255,255,255,0.1);
    padding: 12px;
    color: white;
    font-size: 1em;
}
.col-2 .search{
    min-width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #313131;
    border: none;
    outline: none;  
}
.col-2 .mic{
    min-width: 40px;
    height: 40px;
    display: flex;
    margin-left: 10px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #313131;
    border: none;
    outline: none;  
}
.col-3{
    display: flex;
    align-items: center;
}
.col-3 i {
    margin-left: 25px;
}

/* ------------------sidebar items---------------- */

.wrapper{
    display: flex;
    position: fixed;
    height:calc(100vh - 60px);
    top: 60px;
    background-color: #121212;
    
}
.sidebar{
    width: 270px;        /*chnaged 200 to 290*/
    background-color: black;
    color: white;
}
.sidebar:hover{
    overflow-y: scroll;
}
.list1{
    display: flex;
    flex-direction: column;

}
.sidebar-item{
    display: flex;
    align-items: center;
    padding: 0 24px;
    cursor: pointer;
    height: 40px;
    transition: .5s;

}
hr{
    border: 1px solid rgba(255,255,255,0.553);
    margin: 12px 0;
}
h4{
    font-size: 0.9em;
    color: #f0eaea;
    text-transform: uppercase;
    margin: 10px 0 10px 20px;
}
.sidebar-item i {
    margin-right: 20px;
}
.sidebar-item:hover{
    background-color: #4c4c4c;
}
/* ----------------items---------- */


.content{
    width: calc((100vw - 270px));

}
.tag-line{
    /* overflow-x: scroll;  commented by mee */
    background-color: #181818;
    display: flex;
    padding-left: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.tag{
    margin: 12px 6px;
    background-color: #373737;
    padding: 6px 12px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    cursor: pointer;
    color : #fff;
}
.tag:hover{
    background-color: #fff;
    color: #000;
}
.video-wrapper{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px 20px;
    padding: 20px 25px;
}
.video-wrapper:hover{
    overflow-y: scroll;
}
.video{
    position: relative;
    transition: .2s;
    transition-delay: .2s;
    height: 400px;
    border: 1px solid #4c4c4c;
    border-radius: 10px;
    overflow: hidden;
}
.video-content{
    position: relative;
    height: 65%;
    width: 100%;
}
.video-content img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.video-details{
    display: flex;
    color: #fff;
    padding-top: 10px;
}
.channel-logo{
    position: relative;
    min-width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
    margin: 5px 10px;
}
.details{
    margin-left: 10px;
}
.channel-name{
    font-size: .8em;
    margin-top: 10px;
    color: #aaa;
}
